@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h1>Descripcion del trabajo</h1>

    <div class="container ">
        <div class="row ">
            <div class="col">
                <h3>Nombre del trabajo</h3>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px" disabled></textarea>
                    <label for="floatingTextarea2Disabled"></label>
                </div>
                <h3>Requirimientos</h3>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px" disabled></textarea>
                    <label for="floatingTextarea2Disabled"></label>
                </div>
                <h3>Beneficio</h3>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px" disabled></textarea>
                    <label for="floatingTextarea2Disabled"></label>
                </div>
                <h3>Responsabilidades</h3>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px" disabled></textarea>
                    <label for="floatingTextarea2Disabled"></label>
                </div>
            </div>
            <div class="col text-center">
                <img src="~/css/logo.jpg" class="card-img-top" alt="..." width="100" height="200">
                <img src="~/css/Logo2.jpg" class="card-img-top" alt="..." width="100" height="200">
                <br />
                <br />
                <h3>Contactos</h3>
                <br />
                <h5>Datos de empresa</h5>
                <br />
                <button type="button" class="btn btn-secondary btn-lg">Aplicar</button>
            </div>

        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Comentarios</h3>
                <input class="form-control" type="search" placeholder="" aria-label="tipocontrato">
            </div>
        </div>

    </div>
</div>
