html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.campana {
    width: 30px;
    margin-right: 15px;
    margin-top: 100px;
}

.usuario {
    max-height: 200px;
    width: auto;
}

.imagen {
    width: 35px; 
    height: 33px;
    margin-right: 5px;
}

.gris {
    background-color: gray; 
}

.footer-container {
}

html, body {
    height: 100%;
}
